<div layout="row" layout-wrap>
    <div layout=column flex="80">
            <div flex class="progress">
                 <div class="determinate blue darken-1" style="width: 10%"></div>
            </div>

<div class="row">

    <div class="col s4">
            <div class="card">
                    <div class="card-image waves-effect waves-block waves-light" ui-sref="category({ eventId: partyDashboard.eventId, categoryName: 'location' })">
                        <img class="activator" src="/location.jpg">
                    </div>
                        <span class="card-title">Location</span>

            </div>
    </div>

    <div class="col s4">
        <div class="card">
                <div class="card-image waves-effect waves-block waves-light" ui-sref="category({ eventId: partyDashboard.eventId, categoryName: 'catering' })">
                    <img class="activator" src="/food.jpg">
                </div>
                <span class="card-title">Food & Drinks</span>

        </div>
     </div>

    <div class="col s4">

        <div class="card">
                <div class="card-image waves-effect waves-block waves-light" ui-sref="category({ eventId: partyDashboard.eventId, categoryName: 'entertainment' })">
                    <img class="activator" src="/entertainment.jpg">
                </div>
                <span class="card-title">Entertainment</span>

        </div>
    </div>

    <div class="col s4">
        <div class="card">
                <div class="card-image waves-effect waves-block waves-light" ui-sref="category({ eventId: partyDashboard.eventId, categoryName: 'guests' })">
                    <img class="activator" src="/guests.jpg">
                </div>
                <span class="card-title">Guests</span>

        </div>
     </div>

    <div class="col s4">
        <div class="card">

                <div class="card-image waves-effect waves-block waves-light" ui-sref="category({ eventId: partyDashboard.eventId, categoryName: 'finance' })">
                    <img class="activator" src="/finance.jpg">
                </div>
                <span class="card-title">Finance</span>


        </div>
    </div>

    <div class="col s4">
        <div class="card">
                <div class="card-image waves-effect waves-block waves-light" ui-sref="category({ eventId: partyDashboard.eventId, categoryName: 'other' })">
                    <img class="activator" src="/other.jpg">
                </div>
                <span class="card-title">Other</span>

        </div>
    </div>
</div>
</div>
    <div class="sidebar" flex="20">
        <h1 style="font-size: xx-large">Overview</h1>
            <div layout="column">
                <div class="todo">
                <md-list>
                    <h1 style="font-size: large">Upcoming To-Dos</h1>
                    <md-list-item>Send Invitations</md-list-item>
                    <md-list-item>Confirm Location</md-list-item>
                    <md-list-item>Order Decoration</md-list-item>
                </md-list>
             </div>
             </div>
    </div>
</div>