<div layout="row" layout-wrap>
 <div layout=column flex="75">
            <!--<div flex class="progress">
                 <div class="determinate blue darken-1" style="width: 10%"></div>
            </div>
            -->

<div class="row categories" >
    
    <div layout="row" layout-align="center center" class="disProgr">
        <p class="textProgr">{{partyDashboard.procent}} % done</p>
        <md-progress-linear md-mode="determinate" value="{{partyDashboard.procent}}" class="progBar"></md-progress-linear>
    </div>
    
    

    <div class="col s4">
            <div class="card">
                    <div class="card-image waves-effect waves-block waves-light" ui-sref="category({ eventId: partyDashboard.eventId, categoryName: 'location' })">
                        <img class="activator" src="/location.jpg">
                    </div>
                        <span class="card-title">Location</span>

            </div>
    </div>

    <div class="col s4">
        <div class="card">
                <div class="card-image waves-effect waves-block waves-light" ui-sref="category({ eventId: partyDashboard.eventId, categoryName: 'catering' })">
                    <img class="activator" src="/food.jpg">
                </div>
                <span class="card-title">Food & Drinks</span>

        </div>
     </div>

    <div class="col s4">

        <div class="card">
                <div class="card-image waves-effect waves-block waves-light" ui-sref="category({ eventId: partyDashboard.eventId, categoryName: 'entertainment' })">
                    <img class="activator" src="/entertainment.jpg">
                </div>
                <span class="card-title">Entertainment</span>

        </div>
    </div>

    <div class="col s4">
        <div class="card">
                <div class="card-image waves-effect waves-block waves-light" ui-sref="eventGuestCategory({eventId: partyDashboard.eventId})">
                    <img class="activator" src="/guests.jpg">
                </div>
                <span class="card-title">Guests</span>

        </div>
     </div>

    <div class="col s4">
        <div class="card">

                <div class="card-image waves-effect waves-block waves-light" ui-sref="category({ eventId: partyDashboard.eventId, categoryName: 'finance' })">
                    <img class="activator" src="/finance.jpg">
                </div>
                <span class="card-title">Finance</span>


        </div>
    </div>

    <div class="col s4">
        <div class="card">
                <div class="card-image waves-effect waves-block waves-light" ui-sref="category({ eventId: partyDashboard.eventId, categoryName: 'other' })">
                    <img class="activator" src="/other.jpg">
                </div>
                <span class="card-title">Other</span>

        </div>
    </div>
</div>
</div>
    <div flex="25">
        <div class="sidebar" md-whiteframe="3">
            <h3>{{partyDashboard.currentEvent.name}}</h3>
            <div layout="column">
                <div class="todo" md-whiteframe="2">
                    <md-list>
                        <h4>Upcoming To-Dos</h4>
                        <party-todos></party-todos>
                    </md-list>
                </div>
            </div>
        </div>
    </div>
</div>