<div layout="row" layout-wrap>
 <div layout=column flex="75">
            <!--<div flex class="progress">
                 <div class="determinate blue darken-1" style="width: 10%"></div>
            </div>
            -->

<div class="row categories" >
    
    <div layout="row" layout-align="center center" class="disProgr">
        <p class="textProgr">You have fulfilled {{partyDashboard.procent}}% of your ToDos! </p>
        <md-progress-linear md-mode="determinate" value="{{partyDashboard.procent}}" class="progBar"></md-progress-linear>
    </div>
    
    

    <div class="col s4">
            <div class="card">
                    <div class="card-image waves-effect waves-block waves-light" ui-sref="category({ eventId: partyDashboard.eventId, categoryName: 'location' })">
                        <img class="activator" src="/location.jpg">
                    </div>
                        <span class="card-title">Location</span>

            </div>
    </div>

    <div class="col s4">
        <div class="card">
                <div class="card-image waves-effect waves-block waves-light" ui-sref="category({ eventId: partyDashboard.eventId, categoryName: 'catering' })">
                    <img class="activator" src="/food.jpg">
                </div>
                <span class="card-title">Food & Drinks</span>

        </div>
     </div>

    <div class="col s4">

        <div class="card">
                <div class="card-image waves-effect waves-block waves-light" ui-sref="category({ eventId: partyDashboard.eventId, categoryName: 'entertainment' })">
                    <img class="activator" src="/entertainment.jpg">
                </div>
                <span class="card-title">Entertainment</span>

        </div>
    </div>

    <div class="col s4">
        <div class="card">
                <div class="card-image waves-effect waves-block waves-light" ui-sref="category({ eventId: partyDashboard.eventId, categoryName: 'guests' })">
                    <img class="activator" src="/guests.jpg">
                </div>
                <span class="card-title">Guests</span>

        </div>
     </div>

    <div class="col s4">
        <div class="card">

                <div class="card-image waves-effect waves-block waves-light" ui-sref="category({ eventId: partyDashboard.eventId, categoryName: 'finance' })">
                    <img class="activator" src="/finance.jpg">
                </div>
                <span class="card-title">Finance</span>


        </div>
    </div>

    <div class="col s4">
        <div class="card">
                <div class="card-image waves-effect waves-block waves-light" ui-sref="category({ eventId: partyDashboard.eventId, categoryName: 'other' })">
                    <img class="activator" src="/other.jpg">
                </div>
                <span class="card-title">Other</span>

        </div>
    </div>
</div>
</div>
    <div flex="25">
        <div class="sidebar" md-whiteframe="3">
            <h4 class="textItems">{{partyDashboard.currentEvent.name}}</h4>
            <div layout="column">
                <div class="todo" md-whiteframe="2" ng-if="!(partyDashboard.upcomingTodos.length == 0)">
                    <md-list>
                        <h5 class="textItems" ng-if="!(partyDashboard.upcomingTodos.length == 0)">Upcoming To-Dos</h5>
                        <md-list-item ng-if="!(partyDashboard.upcomingTodos.length == 0)" ng-repeat="todo in partyDashboard.upcomingTodos|limitTo:5" ng-mouseover="partyDashboard.selectTodo(todo)" ng-mouseleave="partyDashboard.deselectTodo()" >
                        <div flex>
                            <div layout="row" flex>
                        <span flex="50" >
                            <p class="textItems" ng-style="setColor(todo)" ui-sref="category({ eventId: partyDashboard.eventId, categoryName: getCategory(todo)})">{{todo.name}} </p>
                        </span>
                            <span flex="5"></span>
                            <span flex="50">
                                    <p class="textItems" ng-style="setColor(todo)" ui-sref="category({ eventId: partyDashboard.eventId, categoryName: getCategory(todo)})">{{parseDate(todo.duedate)}}</p>
                                </span>
                        </div>
                        </div>
                            <md-divider ng-if="!$last"></md-divider>
                          </md-list-item>

                    </md-list>
                </div>
                <div>

                </div>
            </div>
        </div>
    </div>
</div>