<div layout="row" layout-wrap>

  <div flex="10" class="sideNavbar lukas2">
        <!--<div ng-if="partyCategory.category == 'Lntertainment'"></div>-->
        <i class="material-icons ikonos" ui-sref="partyDashboard({ eventId: partyCategory.eventId})">settings_overscan</i>
        <i ng-class="{active: partyCategory.category == 'Location'}" class="material-icons ikonos" ui-sref="category({ eventId: partyCategory.eventId, categoryName: 'location' })" >home</i>
        <i ng-class="{active: partyCategory.category == 'Catering'}" class="material-icons ikonos" ui-sref="category({ eventId: partyCategory.eventId, categoryName: 'catering' })" >local_dining</i>
        <i ng-class="{active: partyCategory.category == 'Guests'}" class="material-icons ikonos" ui-sref="category({ eventId: partyCategory.eventId, categoryName: 'guests' })">group</i>
        <i ng-class="{active: partyCategory.category == 'Finance'}" class="material-icons ikonos" ui-sref="category({ eventId: partyCategory.eventId, categoryName: 'finance' })">euro_symbol</i>
        <i ng-class="{active: partyCategory.category == 'Entertainment'}" class="material-icons ikonos" ui-sref="category({ eventId: partyCategory.eventId, categoryName: 'entertainment' })">music_note</i>
        <i ng-class="{active: partyCategory.category == 'Other'}" class="material-icons ikonos" ui-sref="category({ eventId: partyCategory.eventId, categoryName: 'other' })">more_horiz</i>
  </div>

    <div flex="60">
        <!--<h1> {{partyCategory.category}} </h1>-->

        <party-todos my-attr="partyCategory.eventId" my-category="partyCategory.categoryName"></party-todos>
        <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="5" md-on-paginate="getDesserts" md-page-select></md-table-pagination>
        <br><br>
        <party-comment my-attr="partyCategory.eventId" my-category="partyCategory.categoryName"></party-comment>
    </div>

    <party-notes flex="30" my-attr="partyCategory.eventId" my-category="partyCategory.categoryName"></party-notes>

</div>
 
 
 
  
  