party-category {
  [ui-sref] {
    cursor: pointer;
  }
}

.ikonos {
  display: block;
  font-size: 48px !important;
  margin: 23px !important;
  text-decoration: none;
  color: #00BCD4;
}

.active{    
    font-size: 60px !important;
    color: #24248f
}

.lukas1 {
  text-decoration: none;
}

.lukas2 {
  background-color: #1565C0;
}

.lukas3 {
  background-color: white;
}

.lukas4 {
  color: black;
}

.lukas5 th {
  padding: 0px 55px;
  border: 1px solid black;
}

.lukas6 tr td {
  padding: 0px 55px;
}

.addTodo {
  color: rgb(63, 81, 181);
  cursor: pointer;
}

@media (max-width: 1130px) {
  .ikonos {
    font-size: 45px !important;
    margin: 25px !important;
  }
  .active{    
    font-size: 55px !important;
  }
}

@media (max-width: 840px) {
  .ikonos {
    font-size: 35px !important;
    margin: 15px !important;
  }
  .active{    
    font-size: 45px !important;
  }
}

@media (max-width: 635px) {
  .ikonos {
    font-size: 25px !important;
    margin: 10px !important;
  }
  .active{    
    font-size: 35px !important;
  }
}

@import "../partyNotes/partyNotes.less";
@import "../partyTodos/partyTodos.less";

