// Karin

startpage-content {
  [ui-sref] {
    cursor: pointer;
  }
}

.responsive-img{
  max-width: 100%;
  height:auto;
}

.button1{
  min-width: 70%;
}
.cardcolor{
  background-color: rgba(0, 188, 212, 0.55);
  //background-color: #80deea;
}
.imagebg{
  background-image: url("event2.jpg");
  width: 100%;
  height:auto;
}

.justify{
  text-align: justify;
}
.material-icons.md-24 { font-size: 24px; }