<!-- Karin - content of the start page -->

<!--delete when the other thing works-->
<div layout="column">
    <img class="responsive-img" src="event.jpg">
</div>

<div layout="column" layout-padding>

  <!--  Problem
    <div class="imagebg">
        <h2 class="md-display-3">Make your event planning easy!</h2>
    </div>-->

    <div><md-content flex layout-padding align="center">
        <h2 class="md-display-1">What is EasyParty?</h2>
        <p>
            EasyParty is an event planning tool for private use. You can use it to plan your birthday, a wedding or a simple
            barbecue. It is a so called one-stop-shop where you have all important information together. So you can
            never misplace your notes again! Additionally, our different categories will help you to stay organized. Other
            features like the progress bar or the open tasks will show you the current state of your planning phase immediately.
            You are not planning the event alone? No problem at all! Our application makes it possible to collaborate in
            real-time with co-workers. But these are not the only things EasyParty can do. Discover it yourself! You
            can try it 5 days for free. Afterwards you only have to pay 4.99€ per event. Considering how much time and
            nerves you will safe with this application, it is definitely worth it. You will see it for yourself...
        </p>
        <!--<md-button class="md-raised md-accent">Start your free trial now!</md-button> -->
    </md-content></div>

    <div>
        <h2 class="md-display-1" align="center">Special Features</h2>

        <md-content class="md-padding" layout-xs="column" layout="row">
            <div flex-xs layout="row">
                <md-card class="cardcolor" flex="33" layout-align="center center">
                    <md-card-title>
                        <md-card-title-text>
                            <span flex="70" class="md-headline">Collaborative Task-List</span>
                        </md-card-title-text>
                        <md-icon class="iconstyle" md-svg-icon="action:ic_list_24px" flex="30"></md-icon>
                    </md-card-title>
                    <md-card-content>
                        <p class="justify">
                            There is a big party just ahead of you and you won't be able to do all the planning alone?
                            Don't worry about it! EasyParty offers a collaborate task-list so that you and your co-planner(s)
                            already keep a good overview!
                        </p>
                    </md-card-content>
                 <!-- implementation when rest of app is working

                 <md-card-actions layout="coloumn">
                        <md-button class="md-raised">Learn more</md-button>
                    </md-card-actions>
                    -->
                </md-card>
                <md-card class="cardcolor" flex="33" layout-align="center center">
                    <md-card-title>
                        <md-card-title-text>
                            <span flex="70" class="md-headline">Guest List</span>
                        </md-card-title-text>
                        <md-icon class="iconstyle" md-svg-icon="social:ic_group_24px" flex="30"></md-icon>
                    </md-card-title>
                    <md-card-content align="center">
                        <p class="justify">
                            You need to know how many guests are coming to your next event but you can't remember the
                            responses of every guest? Our guest list will keep track for you so that you can focus on
                            other things.
                        </p>
                    </md-card-content>
                    <!-- implementation when rest of app is working
                    <md-card-actions layout="coloumn" layout-align="start">
                        <md-button class="md-raised">Learn more</md-button>
                    </md-card-actions>
                    -->
                </md-card>
                <md-card class="cardcolor" flex="33" layout-align="center center">

                    <md-card-title>
                        <md-card-title-text>
                            <span flex="70" class="md-headline">Buffet Organization</span>
                        </md-card-title-text>
                        <md-icon class="iconstyle" md-svg-icon="maps:ic_local_dining_24px" flex="30"></md-icon>
                    </md-card-title>
                    <md-card-content align="center">
                        <p class="justify">
                            You are thinking of planning a barbecue but the organisational effort about who brings
                            which food keeps you from it? Just use EasyParty! A simple way to organise a buffet is
                            also part of the application.
                        </p>
                    </md-card-content>
                    <!-- implementation when rest of app is working
                    <md-card-actions layout="coloumn" layout-align="start">
                        <md-button class="md-raised">Learn more</md-button>
                    </md-card-actions>
                    -->
                </md-card>
            </div>
        </md-content>
    </div>
</div>
<footer>
    <div layout="row" class="footer" layout-align="center center">
        <h6 class="footertitle">2016 by EasyParty</h6>
        <span flex></span>
        <h6 class="footertitle"> <a ng-click="startpageContent.openProvider($event)">Register as a service provider</a></h6>
    </div>
</footer>
