// Karin

startpage-content {
  [ui-sref] {
    cursor: pointer;
  }
}

.responsive-img{
  max-width: 100%;
  height:auto;
}


.cardcolor{
  background-color: rgba(0, 188, 212, 0.55);
  //background-color: #80deea;
}
.imagebg{
  background-image: url("event2.jpg");
  width: 100%;
  height:auto;
}

.justify{
  text-align: justify;
}

.iconstyle {
  width: 48px;
  height: 48px;
}

.footer{
  background-color: #E0F7FA;
  height: 50px;
}

.footertitle{
  margin-right: 40px;
  margin-left: 40px;
}

.footertitle a{
  cursor: pointer;
}
