<!-- Karin - content of the start page -->

<!--delete when the other thing works-->
<div layout="column">
    <img class="responsive-img" src="event.jpg">
</div>

<div layout="column" layout-padding>

  <!--  Problem
    <div class="imagebg">
        <h2 class="md-display-3">Make your event planning easy!</h2>
    </div>-->

    <div><md-content flex layout-padding align="center">
        <h2 class="md-display-1">What is EasyParty?</h2>
        <p>
            Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis
            conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur disputationi te sed. At vix sale c
            omnesque, id pro labitur reformidans accommodare, cum labores honestatis eu. Nec quem lucilius in, eam
            praesent reformidans no. Sed laudem aliquam ne.
            Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis
            conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur disputationi te sed. At vix sale c
            omnesque, id pro labitur reformidans accommodare, cum labores honestatis eu. Nec quem lucilius in, eam
            praesent reformidans no. Sed laudem aliquam ne.
        </p>
        <md-button class="md-raised md-accent">Start your free trial now!</md-button>
    </md-content></div>

    <div>
        <h2 class="md-display-1" align="center">Special Features</h2>

        <md-content class="md-padding" layout-xs="column" layout="row">
            <div flex-xs layout="row">
                <md-card class="cardcolor" flex="33" layout-align="center center">
                   <md-icon md-svg-icon="action:list"></md-icon>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Collaborative Task-List</span>
                        </md-card-title-text>
                        <md-icon md-svg-icon="maps:ic_local_dining_24px"></md-icon>
                    </md-card-title>
                    <md-card-content>
                        <p class="justify">
                            The titles of Washed Ou
                        </p>
                    </md-card-content>
                 <!-- implementation when rest of app is working

                 <md-card-actions layout="coloumn">
                        <md-button class="md-raised">Learn more</md-button>
                    </md-card-actions>
                    -->
                </md-card>
                <md-card class="cardcolor" flex="33" layout-align="center center">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Guest List</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content align="center">
                        <p class="justify">
                            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                        </p>
                    </md-card-content>
                    <!-- implementation when rest of app is working
                    <md-card-actions layout="coloumn" layout-align="start">
                        <md-button class="md-raised">Learn more</md-button>
                    </md-card-actions>
                    -->
                </md-card>
                <md-card class="cardcolor" flex="33" layout-align="center center">

                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Buffet Organization</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content align="center">
                        <p class="justify">
                            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                        </p>
                    </md-card-content>
                    <!-- implementation when rest of app is working
                    <md-card-actions layout="coloumn" layout-align="start">
                        <md-button class="md-raised">Learn more</md-button>
                    </md-card-actions>
                    -->
                </md-card>
            </div>
        </md-content>
    </div>

</div>
