<div class="md-inline-form" layout-padding>
    
        
        
<div layout-gt-sm="row">    
      
  <md-input-container class="md-block" flex-gt-sm="25">
    <label>
      Title:
    </label>
    <input type="text" ng-model="partyTodos.todo.name"/>
  </md-input-container>
  
  <md-input-container class="md-block" flex-gt-sm="50">
    <label>
      Text:
    </label>
    <input type="text" ng-model="partyTodos.todo.description"/>
  </md-input-container>
  
  <div flex class="md-block" flex-gt-sm="5">
  </div>
  
  <div flex class="md-block" flex-gt-sm="20">
    <md-checkbox ng-model="partyTodos.todo.finished" aria-label="Task done?">
      Task done?
    </md-checkbox>
  </div>
  
  </div>

  <div layout-gt-sm="row">   
    
  <div flex class="md-block" flex-gt-sm="20">
    <md-button ng-click="partyTodos.submit()" class="md-raised">Add Todo</md-button>
  </div>   
  
  <md-content class="md-block" flex-gt-sm="40">
    <label><strong>Due date</strong></label>
    <md-datepicker ng-model="partyTodos.todo.duedate" md-placeholder="Task due date"></md-datepicker>
  </md-content>
  
   

  
  </div>
  
 
  

  
  
  
</div>
