.todos{
  height: 60%;
  margin: 10px;
}

.listItems{
  overflow: scroll;
}

md-select{
  margin: 0px !important;
}
.md-subheader-inner{
  padding: 0px !important;
}

md-list-item.md-2-line .md-list-item-inner {
  min-height: 0px !important;
}

md-checkbox {
  margin-bottom: 0px;
}

md-list-item.md-2-line, md-list-item.md-2-line>.md-no-style {

}