
        <div layout="column" layout-fill layout-margin layout-padding>

            <form name="editForm" layout="column" layout-fill layout-padding layout-margin>
                <md-input-container>
                    <label>
                        Todo Title
                    </label>
                    <input type="text" ng-model="editTodos.myTask.name" placeholder="{{ editTodos.myTask.name}}"/>
                    <label>
                        Todo Description
                    </label>
                    <input type="text" ng-model="editTodos.myTask.description" placeholder="{{ editTodos.myTask.description}}"/>

                </md-input-container>

            </form>

        </div>

