<div layout="column" layout-fill layout-margin layout-padding>

    <div layout="row" layout-fill layout-margin>
        <p class="md-body-2">Use your email?</p>
    </div>

    <form name="registerForm" layout="column" layout-fill layout-padding layout-margin>
        <md-input-container >
            <label>
                Email
            </label>
            <input type="text" ng-model="userRegistration.credentials.email" placeholder="email" aria-label="email" required/>
        </md-input-container>
        <md-input-container >
            <label>
                Password
            </label>
            <input type="password" ng-model="userRegistration.credentials.password" placeholder="password" aria-label="password" required/>
        </md-input-container>
        <div layout="row" layout-align="end center">
            <md-button class="md-raised md-primary" ng-click="userRegistration.register()" aria-label="login" ng-disabled="userRegistration.registerForm.$invalid()">Register</md-button>
        </div>
    </form>

    <md-toolbar ng-show="userRegistration.error" class="md-warn" layout="row" layout-fill layout-padding layout-margin>
        <p class="md-body-1">{{ userRegistration.error }}</p>
    </md-toolbar>

    <md-divider></md-divider>
    Already a user? - button (missing)
    <!--<div layout="row" layout-align="center">
        <a class="md-button" href="/login">Already a user?</a>
    </div> -->

</div>