<header>
    <h1>Todo List</h1>
</header>

<ul>
    <li ng-repeat="task in $ctrl.tasks">
        {{task.text}}
    </li>
</ul>

<div>
    <md-content>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button>Test</md-button>
            <md-button md-no-ink class="md-primary">Primary (md-noink)</md-button>
            <md-button ng-disabled="true" class="md-primary">Disabled</md-button>
            <md-button class="md-warn">Test3</md-button>
            <div class="label">Flat</div>
        </section>
        </md-content>
    </div>