<md-dialog aria-label="New Registration" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Registration</h2>
            <span flex></span>
            <md-button ng-click="userRegisterModal.close()">
                Close
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <user-registration done="userRegisterModal.close()"></user-registration>
        </div>
    </md-dialog-content>
</md-dialog>
