<md-dialog aria-label="New Registration" ng-cloak flex="50">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Sign up for EasyParty</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="userRegisterModal.close()" aria-label="Close">
                <md-icon md-svg-icon="navigation:ic_close_24px"></md-icon>
            </md-button>

        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <user-registration done="userRegisterModal.close()"></user-registration>
        </div>
    </md-dialog-content>
</md-dialog>
