
        <div layout="column" layout-fill layout-margin layout-padding>

            <div layout="row" layout-fill layout-margin>
                <p class="md-body-2">
                    Sign in with your email</p>
            </div>

            <form name="loginForm" layout="column" layout-fill layout-padding layout-margin>
                <md-input-container>
                    <label>
                        Email
                    </label>
                    <input type="text" ng-model="userLogin.credentials.email" aria-label="email" name="addMail" required/>
                    <div ng-messages="loginForm.addMail.$error">
                        <div ng-message="required">Please enter your e-mail address!</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>
                        Password
                    </label>
                    <input type="password" ng-model="userLogin.credentials.password" aria-label="password" name="addPW" required/>
                    <div ng-messages="loginForm.addPW.$error">
                        <div ng-message="required">Please enter your password!</div>
                    </div>
                </md-input-container>
               <!-- <div layout="row" layout-align="space-between center">
                    <a class="md-button" href="/password">Forgot password? - not working yet</a>-->
                    <div layout="row" layout-align="end center">  <!--remove when Forgot Password Button is implemented!-->
                        <md-button class="md-raised md-primary" ng-click="userLogin.login()" aria-label="login" ng-disabled="userLogin.loginForm.$invalid()" >Sign In
                        </md-button>
                    </div>
                <!--</div>-->
            </form>
            <!-- <md-toolbar ng-show="userLogin.error" class="md-warn" layout="row" layout-fill layout-padding layout-margin>
                <p class="md-body-1">{{ userLogin.error }}</p>
            </md-toolbar>
            <md-divider></md-divider>
            <div layout="row" layout-align="center">
                <a class="md-button" href="/register">Need an account? - not working yet</a>
            </div>-->

        </div>

