<md-slider-container class="image" >
    <img src="other.jpg" alt="" id="background" >

    <div layout="column" layout-padding id="content">
        <div id="whiteBox">
            <div layout="row">
                    <h2 class="md-display-1">Your Parties:</h2>
                    <span flex></span>
                    <md-button class="md-fab material-icons" ng-click="eventList.openForm()"> add</md-button>
            </div>
            <div ng-if="eventList.showAddForm">
                <div layout="row" layout-padding>
                    <md-input-container>
                        <label>
                            Event Name:
                        </label>
                        <input type="text" ng-model="eventList.event.name"/>
                    </md-input-container>
                    <md-input-container>
                        <label>
                            Description:
                        </label>
                        <input type="text" ng-model="eventList.event.description"/>
                    </md-input-container>

                    <div flex>
                        <md-button ng-click="eventList.submit()" class="md-raised">Add Event!</md-button>
                    </div>
                </div>
            </div>

            <md-list flex ng-repeat="event in eventList.events" >
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text" ng-click="eventList.showSimpleToast(event)">
                        <h3>{{ event.name}}</h3>
                        <p>{{event.description}}</p>
                    </div>
                </md-list-item>
            </md-list>

        </div>
    </div>
</md-slider-container>
