<!--<md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
        <h3>List of Comments </h3>
        <span flex></span>
        
    </div>
</md-toolbar>-->



<md-content class="comment" md-whiteframe="3">
    <md-list>
        <md-subheader class="md-sticky">
     
                <div layout="column">
                    <div layout="row">
                        <span flex="5"></span>
                        <span flex="90"><h5>Comments</h5></span>

                        <md-button ng-hide="partyComment.showAddForm" class="material-icons md-fab md-mini addTodo" ng-click="partyComment.openForm()"> add</md-button>
                        <md-button ng-show="partyComment.showAddForm" class="material-icons md-fab md-mini addTodo" ng-click="partyComment.openForm()"> close</md-button>
                    </div>

                </div>
                
                <div layout="column" layout-padding ng-if="partyComment.showAddForm">
  
                    <md-input-container class="commentCont">
                        <label>
                        Text:
                        </label>
                        <input type="text" ng-model="partyComment.comment.text"/>
                    </md-input-container>
                    
                    
                    <div flex>
                        <md-button ng-click="partyComment.submit()" class="md-raised commentBut">Add Comment</md-button>
                    </div>
                
                
                </div>
    
    </md-subheader>
    
    <div class="listItems">
        <md-list-item class="md-2-line" ng-repeat="comment in partyComment.commentslist">
            <div class="md-list-item-text">
                <div layout="row" class="rows">
                    <span flex="85"></span>
                    <span flex="15">{{parseDate(comment.createdAt)}}</span>
                </div>
                <div layout="row" class="rows">
                
                <div flex="15" class="flexikona">
                <i style="color: {{getColor(comment.creater)}}" class="material-icons ikona">person</i>   
                <h3 style="color: {{getColor(comment.creater)}}">{{getName(comment.creater)}}</h3>
                </div>
                

                <span flex="85">
                <p>{{comment.text}}</p>
                </span>

                </div>
            </div>
            <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
    </div>
    
    
    <!--<div flex="50">
        <md-card ng-repeat="comment in partyComment.commentslist">
            <md-card-title>
                <md-card-title-text>
                <span class="md-headline">
                    {{comment.text}}
                </span>
                    <span class="md-subhead">{{parseDate(comment.createdAt)}}</span>
                </md-card-title-text>
            </md-card-title>

        </md-card>
    </div>-->
    </md-list>
</md-content>
