<div class="notes" md-whiteframe="3">
<div class="md-toolbar-tools" id="noteToolbar" layout="row">
    <h5 id="noteTitle">Notes</h5>
    <span flex></span>
    <md-button ng-hide="partyNotes.showAddForm" class="material-icons md-fab md-mini addTodo addNote" ng-click="partyNotes.openForm()"> add</md-button>
    <md-button ng-show="partyNotes.showAddForm" class="material-icons md-fab md-mini addTodo addNote" ng-click="partyNotes.openForm()"> close</md-button>
</div>

<div layout="column" layout-padding class="addNoteForm" ng-if="partyNotes.showAddForm">
<form name="addForm">
  <md-input-container>
    <label>
      Name:
    </label>
      <input type="text" ng-model="partyNotes.note.name" name="addName" ng-maxlength="30" required/>
      <div ng-messages="addForm.addName.$error">
          <div ng-message="required, maxlength">Please enter a title that has between 1 and 30 characters!</div>
      </div>

  </md-input-container>

    <md-input-container>
        <label>
            Text:
        </label>
        <textarea type="text" ng-model="partyNotes.note.description"></textarea>

    </md-input-container>
    <div layout="row" layout-align="center">
    <md-button ng-click="partyNotes.submit()" class="md-raised buttonLink" ng-disabled="addForm.$invalid" >Add Note</md-button>
  </div>
   <div></div>
</form>
</div>

<div layout="column" layout-gt-sm="row">
    <div flex="50">

        <md-card class="openBuffetDesign">
            <md-button flex aria-label="OpenBuffetList" ng-if="partyNotes.categoryName == 'catering'"
                       ng-click="partyNotes.openBuffetList(partyNotes.eventId)"> Open Buffet List</md-button>
        </md-card>

        <md-card ng-repeat="note in partyNotes.noteslist" ng-mouseover="partyNotes.enterNote(note)" ng-mouseleave="partyNotes.leaveNote()">

            <md-card-title>
                <md-card-title-text>
                <span class="md-headline">
                    {{note.name}}
                </span>
                    <span class="md-subhead">{{note.description}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center" ng-show="note._id == partyNotes.currentNote" ng-click="partyNotes.deleteNote(note)">
                <md-button>Delete</md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>

</div>

